* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b9a7d4;
    padding: 20px;
    border: 1px solid gray;
}

.logo img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    background: white;
    padding: 8px 15px;
    border: 1px solid gray;
    color: black;
}

/* Company Info */
.company-info {
    text-align: center;
    padding: 20px;
}

/* Contact Section */
.contact-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.map img {
    width: 300px;
}

.contact-form {
    width: 350px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin: 5px 0 15px 0;
    padding: 8px;
    border: 1px solid gray;
}

textarea {
    height: 80px;
}

.radio-group {
    margin-bottom: 15px;
}

.subscribe {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background: palevioletred;
    border: 4px solid black;
    cursor: pointer;
}

/* Employees Section */
.employees {
    background: #eee;
    padding: 30px;
    text-align: center;
    border: 1px solid gray;
}

.employee-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;

}

.employee img {
    width: 120px;
    display: block;
    margin: auto;
}

/* Footer */
footer {
    background: #b9a7d4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
}

.socialmedia {
    display: flex;
    justify-content: right;
    gap: 0.45rem;
    padding-bottom: 0.2rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 26px;
    border-radius: 4px;
    border: 1px solid #fff;
    justify-content: right;
}
}